<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <div align= "center" class="container">
      <div class="">
        <% @post.each do |post| %>
          <h2 class="posts"><%= link_to post.title, post_path(post) %></h2>
          <div class="images"><%= image_tag post.image.url, width: '500px'%><br></div>
          <%= truncate(post.body, length: 100) %><hr>
        <% end %>
      </div>
    </div>
  </body>
</html>
