<div align = "center" class="container">
  <h1>index page for posts</h1>
  <% @post.each do |post| %>
    <p><%= link_to post.title, post_path(post) %></p>
    <%= image_tag post.image.url %><br>
    <%= truncate(post.body, length: 100) %><hr>
  <% end %>

</div>
