<h1>show page</h1>
<h2>Title: <%= @post.title %> <hr></h2>
<%= simple_format(@post.body) %>
<%= link_to "delete this post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete the article?"}%>
